BasedOnStyle: Google
ColumnLimit: 80
IndentWidth: 2
UseTab: Never
TabWidth: 2
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
